[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve-dev = "flask run --host=0.0.0.0"
serve = "twistd -n web --port tcp:5000 --wsgi gmp_auth.app"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
twisted = "*"

[dev-packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-bcrypt = "*"

[requires]
python_version = "3.8"
